*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}


body{
  background: url('../_img/background.jpeg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 900;
  font-size: 5em;
  color: #FAFBFC;
}

.image{
  background: rgba(0,0,0,0.5);
  height: 100vh;
}

#welcome-banner{
  height: 100vh;
  text-shadow: 1px 1px;
  display: grid;  
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr 1fr;
}

a{
  grid-column-start: 2;
  grid-row-start: 2;
  
}

span{
  animation: blinker 1s linear infinite;
  color: #2966D6;
}
@keyframes blinker {
  60% { opacity: 0; }
}
